USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'EnviosYA_456VG')
BEGIN
    CREATE DATABASE [EnviosYA_456VG];
END
GO
USE [EnviosYA_456VG]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnviosYA_456VG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnviosYA_456VG]
GO
/****** Object:  Table [dbo].[BitacoraEvento_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento_456VG](
	[CodBitacora_456VG] [int] IDENTITY(1,1) NOT NULL,
	[dni_456VG] [varchar](20) NOT NULL,
	[Fecha_456VG] [datetime] NOT NULL,
	[Modulo_456VG] [varchar](50) NOT NULL,
	[Evento_456VG] [varchar](50) NOT NULL,
	[Criticidad_456VG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodBitacora_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choferes_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choferes_456VG](
	[dni_chofer_456VG] [varchar](20) NOT NULL,
	[nombre_456VG] [varchar](100) NOT NULL,
	[apellido_456VG] [varchar](100) NOT NULL,
	[telefono_456VG] [varchar](20) NOT NULL,
	[registro_456VG] [bit] NOT NULL,
	[vencimiento_registro_456VG] [date] NOT NULL,
	[fechanacimiento_456VG] [date] NOT NULL,
	[disponible_456VG] [bit] NOT NULL,
	[activo_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_chofer_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choferes_C_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choferes_C_456VG](
	[dni_chofer_456VG] [varchar](20) NOT NULL,
	[nombre_456VG] [varchar](100) NOT NULL,
	[apellido_456VG] [varchar](100) NOT NULL,
	[telefono_456VG] [varchar](20) NOT NULL,
	[registro_456VG] [bit] NOT NULL,
	[vencimiento_registro_456VG] [date] NOT NULL,
	[fechanacimiento_456VG] [date] NOT NULL,
	[disponible_456VG] [bit] NOT NULL,
	[activo_456VG] [bit] NOT NULL,
	[fecha_456VG] [datetime] NOT NULL,
	[hora_456VG]  AS (CONVERT([time],[fecha_456VG]))
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_456VG](
	[dni_456VG] [varchar](20) NOT NULL,
	[nombre_456VG] [varchar](100) NOT NULL,
	[apellido_456VG] [varchar](100) NOT NULL,
	[telefono_456VG] [varchar](100) NOT NULL,
	[domicilio_456VG] [varchar](100) NOT NULL,
	[fechanacimiento_456VG] [date] NOT NULL,
	[activo_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosPago_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosPago_456VG](
	[dni_cliente_456VG] [varchar](20) NOT NULL,
	[medio_pago_456VG] [varchar](50) NOT NULL,
	[numtarjeta_456VG] [varchar](20) NOT NULL,
	[titular_456VG] [varchar](100) NOT NULL,
	[fechavencimiento_456VG] [date] NOT NULL,
	[cvc_456VG] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_cliente_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleListaCarga_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleListaCarga_456VG](
	[coddetallelista_456VG] [varchar](50) NOT NULL,
	[codlista_456VG] [varchar](50) NOT NULL,
	[codenvio_456VG] [varchar](20) NOT NULL,
	[cantpaquetes_456VG] [int] NOT NULL,
	[estadocargado_456VG] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[coddetallelista_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador_456VG](
	[IdDigitoVerificador] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla_456VG] [varchar](100) NOT NULL,
	[DVH] [varchar](50) NOT NULL,
	[DVV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDigitoVerificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregado_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregado_456VG](
	[codentrega_456VG] [varchar](50) NOT NULL,
	[codenvio_456VG] [varchar](20) NOT NULL,
	[fechaintento_456VG] [datetime] NOT NULL,
	[cantidadintento_456VG] [int] NOT NULL,
	[entregado_456VG] [bit] NOT NULL,
	[motivo_456VG] [varchar](200) NOT NULL,
	[nombreencargado_456VG] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codentrega_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios_456VG](
	[codenvio_456VG] [varchar](20) NOT NULL,
	[dni_cli_456VG] [varchar](20) NOT NULL,
	[dni_dest_456VG] [varchar](100) NOT NULL,
	[nombre_dest_456VG] [varchar](100) NOT NULL,
	[apellido_dest_456VG] [varchar](100) NOT NULL,
	[telefono_dest_456VG] [varchar](100) NOT NULL,
	[provincia_456VG] [varchar](100) NOT NULL,
	[localidad_456VG] [varchar](100) NOT NULL,
	[domicilio_456VG] [varchar](100) NOT NULL,
	[codpostal_456VG] [float] NOT NULL,
	[tipoenvio_456VG] [varchar](20) NOT NULL,
	[importe_456VG] [decimal](10, 2) NOT NULL,
	[pagado_456VG] [bit] NOT NULL,
	[fechaentrega_456VG] [date] NULL,
	[estadoenvio_456VG] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codenvio_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnviosPaquetes_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnviosPaquetes_456VG](
	[codenvio_456VG] [varchar](20) NOT NULL,
	[codpaq_456VG] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codenvio_456VG] ASC,
	[codpaq_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_456VG](
	[codfactura_456VG] [varchar](30) NOT NULL,
	[codenvio_456VG] [varchar](20) NOT NULL,
	[dni_cli_456VG] [varchar](20) NOT NULL,
	[fechaemision_456VG] [date] NOT NULL,
	[horaemision_456VG] [time](7) NOT NULL,
	[impreso_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codfactura_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPermiso_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPermiso_456VG](
	[CodFamilia_456VG] [int] NOT NULL,
	[CodPermiso_456VG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodFamilia_456VG] ASC,
	[CodPermiso_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialContraseñas_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialContraseñas_456VG](
	[dni_456VG] [varchar](20) NOT NULL,
	[contraseñahash_456VG] [varchar](100) NOT NULL,
	[salt_456VG] [varchar](24) NOT NULL,
	[fechacambio_456VG] [datetime] NOT NULL,
	[hashsimple_456VG] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_456VG] ASC,
	[fechacambio_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaCarga_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaCarga_456VG](
	[codlista_456VG] [varchar](50) NOT NULL,
	[fechacreacion_456VG] [datetime] NOT NULL,
	[tipozona_456VG] [varchar](30) NOT NULL,
	[tipoenvio_456VG] [varchar](30) NOT NULL,
	[cantenvios_456VG] [int] NOT NULL,
	[cantpaquetes_456VG] [int] NOT NULL,
	[pesototal_456VG] [float] NOT NULL,
	[volumentotal_456VG] [float] NOT NULL,
	[dni_chofer_456VG] [varchar](20) NOT NULL,
	[patente_transporte_456VG] [varchar](20) NOT NULL,
	[fechasalida_456VG] [datetime] NOT NULL,
	[estadolista_456VG] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codlista_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paquetes_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paquetes_456VG](
	[codpaq_456VG] [varchar](20) NOT NULL,
	[dni_456VG] [varchar](20) NOT NULL,
	[peso_456VG] [float] NOT NULL,
	[ancho_456VG] [float] NOT NULL,
	[alto_456VG] [float] NOT NULL,
	[largo_456VG] [float] NOT NULL,
	[enviado_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codpaq_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_456VG](
	[CodPermiso_456VG] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_456VG] [varchar](50) NOT NULL,
	[IsFamilia_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodPermiso_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_456VG](
	[CodRol_456VG] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_456VG] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodRol_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Permiso_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Permiso_456VG](
	[CodRol_456VG] [int] NOT NULL,
	[CodPermiso_456VG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodRol_456VG] ASC,
	[CodPermiso_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportes_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportes_456VG](
	[patente_456VG] [varchar](20) NOT NULL,
	[marca_456VG] [varchar](50) NOT NULL,
	[año_456VG] [int] NOT NULL,
	[capacidad_peso_456VG] [float] NOT NULL,
	[capacidad_volumen_456VG] [float] NOT NULL,
	[disponible_456VG] [bit] NOT NULL,
	[activo_456VG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[patente_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_456VG]    Script Date: 8/2/2026 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_456VG](
	[dni_456VG] [varchar](20) NOT NULL,
	[nombre_456VG] [varchar](50) NOT NULL,
	[apellido_456VG] [varchar](50) NOT NULL,
	[email_456VG] [varchar](50) NOT NULL,
	[telefono_456VG] [varchar](20) NOT NULL,
	[nombreusuario_456VG] [varchar](50) NOT NULL,
	[contraseña_456VG] [varchar](100) NOT NULL,
	[salt_456VG] [varchar](24) NOT NULL,
	[domicilio_456VG] [varchar](100) NOT NULL,
	[rol_456VG] [varchar](100) NULL,
	[bloqueado_456VG] [bit] NOT NULL,
	[activo_456VG] [bit] NOT NULL,
	[idioma_456VG] [varchar](50) NOT NULL,
	[CodRol_456VG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Choferes_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'20111222', N'Julio', N'Pérez', N'1122334455', 1, CAST(N'2027-12-31' AS Date), CAST(N'1985-03-14' AS Date), 1, 1)
INSERT [dbo].[Choferes_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'23333444', N'Sofía', N'Gómez', N'1199887766', 1, CAST(N'2026-08-15' AS Date), CAST(N'1990-07-02' AS Date), 1, 1)
INSERT [dbo].[Choferes_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'24555666', N'Martín', N'López', N'1144556677', 1, CAST(N'2025-05-10' AS Date), CAST(N'1988-11-23' AS Date), 1, 1)
GO
INSERT [dbo].[Choferes_C_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG], [fecha_456VG]) VALUES (N'20111222', N'Julio', N'Pérez', N'1122334455', 1, CAST(N'2027-12-31' AS Date), CAST(N'1985-03-14' AS Date), 1, 1, CAST(N'2026-02-08T16:33:57.180' AS DateTime))
INSERT [dbo].[Choferes_C_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG], [fecha_456VG]) VALUES (N'23333444', N'Sofía', N'Gómez', N'1199887766', 1, CAST(N'2026-08-15' AS Date), CAST(N'1990-07-02' AS Date), 1, 1, CAST(N'2026-02-08T16:33:57.200' AS DateTime))
INSERT [dbo].[Choferes_C_456VG] ([dni_chofer_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [registro_456VG], [vencimiento_registro_456VG], [fechanacimiento_456VG], [disponible_456VG], [activo_456VG], [fecha_456VG]) VALUES (N'24555666', N'Martín', N'López', N'1144556677', 1, CAST(N'2025-05-10' AS Date), CAST(N'1988-11-23' AS Date), 1, 1, CAST(N'2026-02-08T16:33:57.200' AS DateTime))
GO
INSERT [dbo].[Clientes_456VG] ([dni_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [domicilio_456VG], [fechanacimiento_456VG], [activo_456VG]) VALUES (N'20262026', N'Marcos', N'Pereyra', N'1166778899', N'GQFNqxUb+Ua8rCxDQxtcbOUo9dVwZk5UTn3gNS2X74g=', CAST(N'1985-08-22' AS Date), 1)
INSERT [dbo].[Clientes_456VG] ([dni_456VG], [nombre_456VG], [apellido_456VG], [telefono_456VG], [domicilio_456VG], [fechanacimiento_456VG], [activo_456VG]) VALUES (N'87654321', N'Lucía', N'Fernández', N'1122334455', N'grnz2nXJeEXZzQxF+TQijC+Jpsif9hO8B64LimW7jOk=', CAST(N'1990-05-15' AS Date), 1)
GO
INSERT [dbo].[DatosPago_456VG] ([dni_cliente_456VG], [medio_pago_456VG], [numtarjeta_456VG], [titular_456VG], [fechavencimiento_456VG], [cvc_456VG]) VALUES (N'20262026', N'Crédito', N'1111-2222-3333-4444', N'Marcos Pereyra', CAST(N'2026-10-24' AS Date), N'123')
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador_456VG] ON 

INSERT [dbo].[DigitoVerificador_456VG] ([IdDigitoVerificador], [NombreTabla_456VG], [DVH], [DVV]) VALUES (1, N'Clientes_456VG', N'15551', N'15551')
INSERT [dbo].[DigitoVerificador_456VG] ([IdDigitoVerificador], [NombreTabla_456VG], [DVH], [DVV]) VALUES (2, N'Paquetes_456VG', N'4216', N'4216')
INSERT [dbo].[DigitoVerificador_456VG] ([IdDigitoVerificador], [NombreTabla_456VG], [DVH], [DVV]) VALUES (3, N'Envios_456VG', N'11186', N'11186')
SET IDENTITY_INSERT [dbo].[DigitoVerificador_456VG] OFF
GO
INSERT [dbo].[Envios_456VG] ([codenvio_456VG], [dni_cli_456VG], [dni_dest_456VG], [nombre_dest_456VG], [apellido_dest_456VG], [telefono_dest_456VG], [provincia_456VG], [localidad_456VG], [domicilio_456VG], [codpostal_456VG], [tipoenvio_456VG], [importe_456VG], [pagado_456VG], [fechaentrega_456VG], [estadoenvio_456VG]) VALUES (N'2202MAR100340327', N'20262026', N'00001112', N'Pedro', N'Alvarez', N'1127118945', N'Buenos Aires', N'Lomas de Zamora', N'kilo 123', 1893, N'Express', CAST(2819.07 AS Decimal(10, 2)), 1, CAST(N'2025-10-06' AS Date), N'Pendiente de Entrega')
GO
INSERT [dbo].[EnviosPaquetes_456VG] ([codenvio_456VG], [codpaq_456VG]) VALUES (N'2202MAR100340327', N'202MAR100332578')
INSERT [dbo].[EnviosPaquetes_456VG] ([codenvio_456VG], [codpaq_456VG]) VALUES (N'2202MAR100340327', N'202MAR100336981')
GO
INSERT [dbo].[Facturas_456VG] ([codfactura_456VG], [codenvio_456VG], [dni_cli_456VG], [fechaemision_456VG], [horaemision_456VG], [impreso_456VG]) VALUES (N'2202MAR100460008', N'2202MAR100340327', N'20262026', CAST(N'2025-10-05' AS Date), CAST(N'10:04:06' AS Time), 0)
GO
INSERT [dbo].[FamiliaPermiso_456VG] ([CodFamilia_456VG], [CodPermiso_456VG]) VALUES (28, 35)
INSERT [dbo].[FamiliaPermiso_456VG] ([CodFamilia_456VG], [CodPermiso_456VG]) VALUES (28, 36)
INSERT [dbo].[FamiliaPermiso_456VG] ([CodFamilia_456VG], [CodPermiso_456VG]) VALUES (28, 37)
GO
INSERT [dbo].[HistorialContraseñas_456VG] ([dni_456VG], [contraseñahash_456VG], [salt_456VG], [fechacambio_456VG], [hashsimple_456VG]) VALUES (N'12345678', N'5058e0c8ccf88b14e647fd2818f482c68d309ec3eeb6f5d198e475768f172d63', N'X781YT6M92Sw49EnecGZlw==', CAST(N'2025-05-21T16:23:03.263' AS DateTime), N'1ccbfab998c38440481442508bcd161f8b90d67e9fca14e48dfaa472324de7ee')
INSERT [dbo].[HistorialContraseñas_456VG] ([dni_456VG], [contraseñahash_456VG], [salt_456VG], [fechacambio_456VG], [hashsimple_456VG]) VALUES (N'12345678', N'67784301a1409e30ef093a65c81332fd8590e4f60745a2d8c92c6c95cc60e5db', N'XwICLo018ug50ej8EVnZng==', CAST(N'2025-05-21T16:25:14.293' AS DateTime), N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[HistorialContraseñas_456VG] ([dni_456VG], [contraseñahash_456VG], [salt_456VG], [fechacambio_456VG], [hashsimple_456VG]) VALUES (N'26202620', N'5058e0c8ccf88b14e647fd2818f482c68d309ec3eeb6f5d198e475768f172d63', N'X781YT6M92Sw49EnecGZlw==', CAST(N'2025-05-21T16:23:03.263' AS DateTime), N'1ccbfab998c38440481442508bcd161f8b90d67e9fca14e48dfaa472324de7ee')
GO
INSERT [dbo].[Paquetes_456VG] ([codpaq_456VG], [dni_456VG], [peso_456VG], [ancho_456VG], [alto_456VG], [largo_456VG], [enviado_456VG]) VALUES (N'202MAR100332578', N'20262026', 3.5, 25, 15, 40, 1)
INSERT [dbo].[Paquetes_456VG] ([codpaq_456VG], [dni_456VG], [peso_456VG], [ancho_456VG], [alto_456VG], [largo_456VG], [enviado_456VG]) VALUES (N'202MAR100336981', N'20262026', 2.8, 30, 20, 35, 1)
GO
SET IDENTITY_INSERT [dbo].[Permiso_456VG] ON 

INSERT [dbo].[Permiso_456VG] ([CodPermiso_456VG], [Nombre_456VG], [IsFamilia_456VG]) VALUES (1, N'MenuRecepción', 0)
INSERT [dbo].[Permiso_456VG] ([CodPermiso_456VG], [Nombre_456VG], [IsFamilia_456VG]) VALUES (2, N'CobrarEnvío', 0)
INSERT [dbo].[Permiso_456VG] ([CodPermiso_456VG], [Nombre_456VG], [IsFamilia_456VG]) VALUES (3, N'MenuAyuda', 0)
SET IDENTITY_INSERT [dbo].[Permiso_456VG] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol_456VG] ON 

INSERT [dbo].[Rol_456VG] ([CodRol_456VG], [Nombre_456VG]) VALUES (6, N'Administrador')
INSERT [dbo].[Rol_456VG] ([CodRol_456VG], [Nombre_456VG]) VALUES (1, N'Cajero')
INSERT [dbo].[Rol_456VG] ([CodRol_456VG], [Nombre_456VG]) VALUES (3, N'Cargador')
SET IDENTITY_INSERT [dbo].[Rol_456VG] OFF
GO
INSERT [dbo].[Rol_Permiso_456VG] ([CodRol_456VG], [CodPermiso_456VG]) VALUES (1, 28)
INSERT [dbo].[Rol_Permiso_456VG] ([CodRol_456VG], [CodPermiso_456VG]) VALUES (1, 29)
INSERT [dbo].[Rol_Permiso_456VG] ([CodRol_456VG], [CodPermiso_456VG]) VALUES (2, 28)
GO
INSERT [dbo].[Transportes_456VG] ([patente_456VG], [marca_456VG], [año_456VG], [capacidad_peso_456VG], [capacidad_volumen_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'AA123AA', N'Mercedes-Benz Sprinter', 2021, 1500, 400.5, 1, 1)
INSERT [dbo].[Transportes_456VG] ([patente_456VG], [marca_456VG], [año_456VG], [capacidad_peso_456VG], [capacidad_volumen_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'AB456CD', N'Iveco Daily', 2019, 1800, 230.3, 1, 1)
INSERT [dbo].[Transportes_456VG] ([patente_456VG], [marca_456VG], [año_456VG], [capacidad_peso_456VG], [capacidad_volumen_456VG], [disponible_456VG], [activo_456VG]) VALUES (N'AC789EF', N'Ford Transit', 2020, 1400, 123.8, 1, 1)
GO
INSERT [dbo].[Usuario_456VG] ([dni_456VG], [nombre_456VG], [apellido_456VG], [email_456VG], [telefono_456VG], [nombreusuario_456VG], [contraseña_456VG], [salt_456VG], [domicilio_456VG], [rol_456VG], [bloqueado_456VG], [activo_456VG], [idioma_456VG], [CodRol_456VG]) VALUES (N'12345678', N'Rogelio', N'Martinez', N'rogemartinez@gmail.com', N'1234567890', N'Rogelin123', N'67784301a1409e30ef093a65c81332fd8590e4f60745a2d8c92c6c95cc60e5db', N'XwICLo018ug50ej8EVnZng==', N'Martin 2346', N'Empleado Administrativo', 0, 1, N'EN', 2)
INSERT [dbo].[Usuario_456VG] ([dni_456VG], [nombre_456VG], [apellido_456VG], [email_456VG], [telefono_456VG], [nombreusuario_456VG], [contraseña_456VG], [salt_456VG], [domicilio_456VG], [rol_456VG], [bloqueado_456VG], [activo_456VG], [idioma_456VG], [CodRol_456VG]) VALUES (N'26202620', N'Venus', N'Ginna', N'venusginna@gmail.com', N'1127119824', N'Chinnelon', N'67784301a1409e30ef093a65c81332fd8590e4f60745a2d8c92c6c95cc60e5db', N'XwICLo018ug50ej8EVnZng==', N'Jose Martinez 1140', N'Cajero', 0, 1, N'ES', 1)
INSERT [dbo].[Usuario_456VG] ([dni_456VG], [nombre_456VG], [apellido_456VG], [email_456VG], [telefono_456VG], [nombreusuario_456VG], [contraseña_456VG], [salt_456VG], [domicilio_456VG], [rol_456VG], [bloqueado_456VG], [activo_456VG], [idioma_456VG], [CodRol_456VG]) VALUES (N'26212621', N'Angel', N'Gutierrez', N'angelgutierrez@gmail.com', N'1127119824', N'Angel Guti', N'67784301a1409e30ef093a65c81332fd8590e4f60745a2d8c92c6c95cc60e5db', N'XwICLo018ug50ej8EVnZng==', N'Almirante 2346', N'Operador Deposito', 0, 1, N'ES', 4)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol_456V__6249E1CDD5F0E117]    Script Date: 8/2/2026 16:37:38 ******/
ALTER TABLE [dbo].[Rol_456VG] ADD UNIQUE NONCLUSTERED 
(
	[Nombre_456VG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEvento_456VG] ADD  DEFAULT (getdate()) FOR [Fecha_456VG]
GO
ALTER TABLE [dbo].[Choferes_456VG] ADD  DEFAULT ((1)) FOR [disponible_456VG]
GO
ALTER TABLE [dbo].[Choferes_456VG] ADD  DEFAULT ((1)) FOR [activo_456VG]
GO
ALTER TABLE [dbo].[Choferes_C_456VG] ADD  DEFAULT (getdate()) FOR [fecha_456VG]
GO
ALTER TABLE [dbo].[Clientes_456VG] ADD  DEFAULT ((1)) FOR [activo_456VG]
GO
ALTER TABLE [dbo].[DetalleListaCarga_456VG] ADD  DEFAULT ('Pendiente') FOR [estadocargado_456VG]
GO
ALTER TABLE [dbo].[Envios_456VG] ADD  DEFAULT ((0)) FOR [pagado_456VG]
GO
ALTER TABLE [dbo].[Envios_456VG] ADD  DEFAULT ('Pendiente de Entrega') FOR [estadoenvio_456VG]
GO
ALTER TABLE [dbo].[Facturas_456VG] ADD  DEFAULT ((0)) FOR [impreso_456VG]
GO
ALTER TABLE [dbo].[HistorialContraseñas_456VG] ADD  DEFAULT (getdate()) FOR [fechacambio_456VG]
GO
ALTER TABLE [dbo].[ListaCarga_456VG] ADD  DEFAULT ('Abierta') FOR [estadolista_456VG]
GO
ALTER TABLE [dbo].[Paquetes_456VG] ADD  DEFAULT ((0)) FOR [enviado_456VG]
GO
ALTER TABLE [dbo].[Transportes_456VG] ADD  DEFAULT ((1)) FOR [disponible_456VG]
GO
ALTER TABLE [dbo].[Transportes_456VG] ADD  DEFAULT ((1)) FOR [activo_456VG]
GO
ALTER TABLE [dbo].[Usuario_456VG] ADD  DEFAULT ((0)) FOR [bloqueado_456VG]
GO
ALTER TABLE [dbo].[Usuario_456VG] ADD  DEFAULT ((1)) FOR [activo_456VG]
GO
ALTER TABLE [dbo].[Usuario_456VG] ADD  DEFAULT ('ES') FOR [idioma_456VG]
GO
ALTER TABLE [dbo].[BitacoraEvento_456VG]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario_456VG] FOREIGN KEY([dni_456VG])
REFERENCES [dbo].[Usuario_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[BitacoraEvento_456VG] CHECK CONSTRAINT [FK_Bitacora_Usuario_456VG]
GO
ALTER TABLE [dbo].[Choferes_C_456VG]  WITH CHECK ADD  CONSTRAINT [FK_Choferes_C_Choferes] FOREIGN KEY([dni_chofer_456VG])
REFERENCES [dbo].[Choferes_456VG] ([dni_chofer_456VG])
GO
ALTER TABLE [dbo].[Choferes_C_456VG] CHECK CONSTRAINT [FK_Choferes_C_Choferes]
GO
ALTER TABLE [dbo].[DatosPago_456VG]  WITH CHECK ADD  CONSTRAINT [fk_datospago_cliente] FOREIGN KEY([dni_cliente_456VG])
REFERENCES [dbo].[Clientes_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[DatosPago_456VG] CHECK CONSTRAINT [fk_datospago_cliente]
GO
ALTER TABLE [dbo].[DetalleListaCarga_456VG]  WITH CHECK ADD FOREIGN KEY([codenvio_456VG])
REFERENCES [dbo].[Envios_456VG] ([codenvio_456VG])
GO
ALTER TABLE [dbo].[DetalleListaCarga_456VG]  WITH CHECK ADD FOREIGN KEY([codlista_456VG])
REFERENCES [dbo].[ListaCarga_456VG] ([codlista_456VG])
GO
ALTER TABLE [dbo].[Entregado_456VG]  WITH CHECK ADD  CONSTRAINT [FK_Entregado_Envio_456VG] FOREIGN KEY([codenvio_456VG])
REFERENCES [dbo].[Envios_456VG] ([codenvio_456VG])
GO
ALTER TABLE [dbo].[Entregado_456VG] CHECK CONSTRAINT [FK_Entregado_Envio_456VG]
GO
ALTER TABLE [dbo].[Envios_456VG]  WITH CHECK ADD  CONSTRAINT [fk_envio_cliente] FOREIGN KEY([dni_cli_456VG])
REFERENCES [dbo].[Clientes_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[Envios_456VG] CHECK CONSTRAINT [fk_envio_cliente]
GO
ALTER TABLE [dbo].[EnviosPaquetes_456VG]  WITH CHECK ADD  CONSTRAINT [fk_ep_envio] FOREIGN KEY([codenvio_456VG])
REFERENCES [dbo].[Envios_456VG] ([codenvio_456VG])
GO
ALTER TABLE [dbo].[EnviosPaquetes_456VG] CHECK CONSTRAINT [fk_ep_envio]
GO
ALTER TABLE [dbo].[EnviosPaquetes_456VG]  WITH CHECK ADD  CONSTRAINT [fk_ep_paquete] FOREIGN KEY([codpaq_456VG])
REFERENCES [dbo].[Paquetes_456VG] ([codpaq_456VG])
GO
ALTER TABLE [dbo].[EnviosPaquetes_456VG] CHECK CONSTRAINT [fk_ep_paquete]
GO
ALTER TABLE [dbo].[Facturas_456VG]  WITH CHECK ADD  CONSTRAINT [fk_factura_cliente] FOREIGN KEY([dni_cli_456VG])
REFERENCES [dbo].[Clientes_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[Facturas_456VG] CHECK CONSTRAINT [fk_factura_cliente]
GO
ALTER TABLE [dbo].[Facturas_456VG]  WITH CHECK ADD  CONSTRAINT [fk_factura_envio] FOREIGN KEY([codenvio_456VG])
REFERENCES [dbo].[Envios_456VG] ([codenvio_456VG])
GO
ALTER TABLE [dbo].[Facturas_456VG] CHECK CONSTRAINT [fk_factura_envio]
GO
ALTER TABLE [dbo].[FamiliaPermiso_456VG]  WITH CHECK ADD FOREIGN KEY([CodFamilia_456VG])
REFERENCES [dbo].[Permiso_456VG] ([CodPermiso_456VG])
GO
ALTER TABLE [dbo].[FamiliaPermiso_456VG]  WITH CHECK ADD FOREIGN KEY([CodPermiso_456VG])
REFERENCES [dbo].[Permiso_456VG] ([CodPermiso_456VG])
GO
ALTER TABLE [dbo].[HistorialContraseñas_456VG]  WITH CHECK ADD  CONSTRAINT [FK_HistorialContraseñas_Usuario_456VG] FOREIGN KEY([dni_456VG])
REFERENCES [dbo].[Usuario_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[HistorialContraseñas_456VG] CHECK CONSTRAINT [FK_HistorialContraseñas_Usuario_456VG]
GO
ALTER TABLE [dbo].[ListaCarga_456VG]  WITH CHECK ADD FOREIGN KEY([dni_chofer_456VG])
REFERENCES [dbo].[Choferes_456VG] ([dni_chofer_456VG])
GO
ALTER TABLE [dbo].[ListaCarga_456VG]  WITH CHECK ADD FOREIGN KEY([patente_transporte_456VG])
REFERENCES [dbo].[Transportes_456VG] ([patente_456VG])
GO
ALTER TABLE [dbo].[Paquetes_456VG]  WITH CHECK ADD  CONSTRAINT [fk_paquete_cliente] FOREIGN KEY([dni_456VG])
REFERENCES [dbo].[Clientes_456VG] ([dni_456VG])
GO
ALTER TABLE [dbo].[Paquetes_456VG] CHECK CONSTRAINT [fk_paquete_cliente]
GO
ALTER TABLE [dbo].[Rol_Permiso_456VG]  WITH CHECK ADD FOREIGN KEY([CodPermiso_456VG])
REFERENCES [dbo].[Permiso_456VG] ([CodPermiso_456VG])
GO
ALTER TABLE [dbo].[Rol_Permiso_456VG]  WITH CHECK ADD FOREIGN KEY([CodRol_456VG])
REFERENCES [dbo].[Rol_456VG] ([CodRol_456VG])
GO
ALTER TABLE [dbo].[Usuario_456VG]  WITH CHECK ADD FOREIGN KEY([CodRol_456VG])
REFERENCES [dbo].[Rol_456VG] ([CodRol_456VG])
ON DELETE SET NULL
GO
USE [master]
GO
